[Unit]
Description=Dataset caching daemon

[Service]
Type=simple
ExecStart=/usr/bin/scratch_manager --config /etc/scratch_manager.conf

[Install]
WantedBy=multi-user.target
